
$primary:       #00C7CE;
$secondary:     #ff58ac;
$success:       #AAE174;
$info:          #AA74E1;
$warning:       #FFE58D;
$danger:        #FF5C56;

.masthead {
  position:sticky; 
  top: 4rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .masthead {
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
  }
}
.vr { height:100%}
#content {
  grid-template-columns: 4fr 8fr;
  gap: 3rem
}
.posts-container {
  max-width:760px
}
.text-nipon {
  text-orientation: upright;
  writing-mode: vertical-lr;
  max-height: 300px;
}
.icon-flipped {
  transform: scaleX(-1) !important;
  -moz-transform: scaleX(-1) !important;
  -webkit-transform: scaleX(-1) !important;
  -ms-transform: scaleX(-1) !important;
}
.my-glyphicon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
@import "../node_modules/bootstrap/scss/bootstrap";
